a{
    color:red;
    text-decoration: none;
}
h1{
    font-size:45px;
    text-align:center;
    border-bottom:2px solid gray;
    margin:0;
    padding:20px;
}
#grid{
    display:grid;
    grid-template-columns: 250px 1fr;
}

h2{
    border-left: 2px solid gray;
    margin: 0;
    padding:10px;
}
p{
        border-left: 2px solid gray;
        margin:0;
        padding:10px;
}
#saw{
    color: gray;
}
#nowpage{
    color: red;
    font-weight:bold;
    text-decoration: underline;
}
@media(max-width:800px){
    #grid{
        display:block;
    }
    h2{
        border:0;
        margin:20px;
    }
}